@font-face {
    font-family: Aristotelica;
    src: url('../fonts/Aristotelica\ Display\ ExtraLight\ Trial.ttf');
}

@font-face {
    font-family: Aristotelica-regular;
    src: url('../fonts/AristotelicaSmallCaps-Regular.ttf');
}

:root {
    /* FUENTES */
    --fuente1: Aristotelica;
    --fuente2: Aristotelica-regular;
    --fuente3: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --fuente4: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --fuente5: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --fuente6: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /*  COLORES */
    --color1: #f4f4f4;
    --color2: #0d4e8b;
    --color3: #000;
    --color4: #003a8a;
    --color5: #ffffff;
    --color6: #0065d9;
    --color7: #0070e0;
    --color8: #e1ec00;
    --color9: #e9e9e9;
}


body {
    font-family: var(--fuente1);
}

.header {
    background-color: var(--color1);
}

.logo_img {
    width: 50px;
}

.logo_text {
    color: var(--color2);
    font-size: .60rem;
    font-weight: bold;
    margin-left: -0.2rem;
}

.contenedor_search {
    border: 1.4px solid ;
    background-color: var(--color5);
    border-radius: 3px;
    padding: 2px;
}

.input-search:focus {
    outline: none;
}

.contenedor_search_icon {
    background-color: var(--color3);
    border-radius: 3px;
    width: 30px;
}

.fa-magnifying-glass {
    color: var(--color5);
    font-weight: 600;
}

.text_misPedidos {
    font-size: 10px;
    color: var(--color6);
    font-weight: 800;
    font-family: var(--fuente1);
}

.text_holaAliado {
    font-size: 10px;
    margin-bottom: -5px;
    font-weight: bold;
}

.arroba {
    font-family: var(--fuente3);
}

.link_ingresa {
    color: var(--color4);
    font-weight: bold;
}

.text_ingresa {
    margin: 0;
}

.carrito-container {
    position: relative;
}

.text_carrito {
    font-size: 10px;
}


.cero_carrito {
    position: absolute;
    font-size: 13px;
    top: -5px;
    right: 7px;
}


.linksHeader {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}

.linksHeader:hover {
    text-decoration: underline;
    color: var(--color6);
}

.linksHeaderActive {
    color: var(--color6);
}

.textoLinkHeader:hover {
    color: var(--color6);
}


.hero {
    background-image: url(../img/hero.jpg);
    height: 400px;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.cotenedorTextoHero {
    width: 180px;
    position: absolute;
    top: 100px;
    left: 10%;
}

.textHero {
    font-family: var(--fuente4);
    font-size: 35px;
    color: var(--color5);
    line-height: 1;
}

.botonVerProductos {
    margin-top: -10px;
    font-size: 12px;
}

.contenedor_slider {
    background-color: var(--color1);
}

.img-slide {
    width: 200px;
    height: 137px;
    border-radius: 5px;
}


.contenedor_nueva_coleccion {
    background-color: var(--color1);
}

.titulo_nueva_coleccion {
    color: var(--color4);
    font-weight: bold;
    font-family: var(--fuente5);
}

.img_tarjeta {
    width: 150px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.texto_modelo {
    font-size: 12px;
    line-height: 1;
}

.modeloSilla {
    font-family: var(--fuente6);
    font-weight: 300;
}

.btn-añadir {
    font-size: 10px;
}


.contenedorGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.9fr 1.1fr;
    gap: 0px 0px;
    grid-template-areas:
        "area1 area1 area2 area3"
        "area5 area4 area4 area3";
}

.area1 {
    grid-area: area1;
    background-image: url('../img/grid/01.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
}

.area2 {
    grid-area: area2;
    background-image: url('../img/grid/02.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
}

.area3 {
    grid-area: area3;
    background-image: url('../img/grid/03.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 415px;
}

.area4 {
    grid-area: area4;
    background-image: url('../img/grid/04.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
}

.area5 {
    grid-area: area5;
    background-image: url('../img/grid/05.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
}

.selector {
    background-color: var(--color7);
    color: var(--color8);
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    border-radius: 5px;
}

.selector_active {
    transform: scale(1.1);
}

.hero2 {
    background-image: url('../img/hero2.png');
    height: 200px;
    background-size: cover;
    background-position: center center;
    position: relative;
    filter: brightness(1.2);
    margin-top: -30px;
}


footer {
    background-color: #212121;
}

.titulo_footer {
    color: var(--color8);
    font-size: 12px;
    font-weight: bold;
}


.link_footer {
    color: var(--color5);
    font-size: 12px;
    text-decoration: none;
}

.link_footer:hover {
    text-decoration: underline;
    color: var(--color8);
}

.texto_maejo_datos {
    font-size: 10px;
    display: inline;
    line-height: 1;
}

.footer_sup {
    border-bottom: 1px solid #4a4a4a;
    padding-bottom: 40px;
}


.texto_creditos {
    font-size: 10px;
    color: var(--color5);
    text-align: center;
    margin: 0;
}

.bg2 {
    background-color: var(--color9);
}

.clase1 {
    position: absolute;
    width: 100%;
}

.clase2 {
    position: absolute;
    width: 100%;
    top: 100px;
    margin-top: -50px;
}


.accommodate {
    margin-top: 400px;
}

.section5 {
    background-color: var(--color1);
    margin-top: 750px;
}

@media (min-width: 768px) {
    .section5 {
        margin-top: 450px;
    }
}

.img1 {
    background-image: url('../img/img1.png');
    width: 600px;
    background-size: cover;
    background-position: center
}